html, body{
 min-height: 100%;
 }
html{
 height: 100%;
}

body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0;
	border: 15px solid #2B81AC;
	background-color: #3399CC;
}
header{
	margin: 0 auto;
	width: 800px;
	color: #FFFFFF;
}
.weather-list {
	max-width: 800px;
	height: 500px;
	margin: 0 auto;
	background-color: #FFFFFF;
	color: #FFFFFF;
	padding: 0;
	text-align: center;
	border: 2px solid #FFFFFF;
}
ul {
	font-size: 0px;
}
h4{
	display: block;
	font-size: 24px;
	margin: 0;
	padding-top: 20px;
}
span{
	font-size: 16px;
	opacity: 0.8;
}
li i{
	font-size: 26px;
	opacity: 0.8;
}
.lisbon {
	background-color: #3399CC;
	font-size: 14px;
	width: 50%;
	height: 25%;
	margin: 0;
	border: 2px;
	display: inline-block;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
}
.paris {
	background-color: #33CCCC;
	font-size: 14px;
	width: 25%;
	height: 25%;
	border: 2px;
	margin: 0;
	display: inline-block;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;

}
.belgrade {
	background-color: #996699;
	font-size: 14px;
	width: 25%;
	height: 25%;
	border: 2px;
	margin: 0;
	display: inline-block;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;

 }
 .moscow{
 	background-color: #C24747;
 	font-size: 14px;
 	width: 25%;
 	height: 25%;
 	border: 2px;
 	margin: 0;
 	display: inline-block;
 	border: 2px solid #FFFFFF;
 	box-sizing: border-box;

 }
 .telaviv {
 	background-color: #E2674A;
 	font-size: 14px;
 	width: 25%;
 	height: 25%;
 	border: 2px;
 	margin:0;
 	display: inline-block;
 	border: 2px solid #FFFFFF;
 	box-sizing: border-box;
 }
.cair {
	background-color: #FFCC66;
 	font-size: 14px;
 	width: 25%;
 	height: 25%;
 	border: 2px;
 	margin:0;
 	display: inline-block;
 	border: 2px solid #FFFFFF;
 	box-sizing: border-box;
}
.newyork {
	background-color: #99CC99;
 	font-size: 14px;
 	width: 25%;
 	height: 25%;
 	border: 2px;
 	margin:0;
 	display: inline-block;
 	border: 2px solid #FFFFFF;
 	box-sizing: border-box;
}
.newdehli{
	background-color: #669999;
 	font-size: 14px;
 	width: 25%;
 	height: 25%;
 	border: 2px;
 	margin:0;
 	display: inline-block;
 	border: 2px solid #FFFFFF;
 	box-sizing: border-box;
}
.sanfrancisco{
	background-color: #CC6699;
 	font-size: 14px;
 	width: 50%;
 	height: 25%;
 	border: 2px;
 	margin:0;
 	display: inline-block;
 	border: 2px solid #FFFFFF;
 	box-sizing: border-box;
}
.tokyo{
	background-color: #339966;
 	font-size: 14px;
 	width: 25%;
 	height: 25%;
 	border: 2px;
 	margin:0;
 	display: inline-block;
 	border: 2px solid #FFFFFF;
 	box-sizing: border-box;
}
.sydney{
	background-color: #666699;
 	font-size: 14px;
 	width: 100%;
 	height: 25%;
 	border: 2px;
 	margin:0;
 	display: inline-block;
 	border: 2px solid #FFFFFF;
 	box-sizing: border-box;
}
span:after{
	content: "°C";
}
.footer{
	margin: 0 auto;
	max-width: 800px;
	padding: 20px auto;
	color: #FFFFFF;
	font-size: 18px;
}
.weather-list:hover  li:not(:hover) {
 opacity: 0.7;
 transition: all .1s ease-in;
}
