html, body{
 min-height: 100%;
 }
html{
 height: 100%;
}
* {
	box-sizing: border-box;
}
body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0;
	border: 15px solid #2B81AC;
	background-color: #3399CC;
}
.weather-forecast{
	max-width: 800px;
	margin: 0 auto;
}
header{
	margin: 0 auto;
	color: #FFFFFF;
}
h4 {
	font-size: 24px;
	margin: 0;
}
.weather-list span{
	font-size: 16px;
	opacity: 0.8;
}
li i{
	font-size: 26px;
	opacity: 0.8;
}
.weather-list{
	background-color: #FFF;
	list-style:none;
	padding-left: 0;
	font-size: 0;
}
.weather-list > li {
	color: #FFFFFF;
	padding: 15px;
	text-align: center;
	border: 2px solid #FFFFFF;
	display: inline-block;
	width: 25%;
}

.weather-list .lisbon {
	background-color: #3399CC;
	width: 50%;
}
.paris {
	background-color: #33CCCC;

}
.belgrade {
	background-color: #996699;
 }
 .moscow{
 	background-color: #C24747;
 }
 .telaviv {
 	background-color: #E2674A;
 }
.cair {
	background-color: #FFCC66;
}
.newyork {
	background-color: #99CC99;
}
.newdehli{
	background-color: #669999;
}
.weather-list .sanfrancisco {
	background-color: #CC6699;
	width: 50%;
}
.tokyo{
	background-color: #339966;
}
.weather-list .sydney{
	background-color: #666699;
	width: 100%;
}
.weather-list span:after{
	content: "°C";
}
.footer{
	margin: 0 auto;
	padding: 20px auto;
	color: #FFFFFF;
	font-size: 18px;
}
.weather-list:hover  li:not(:hover) {
 	opacity: 0.7;
 	transition: all .1s ease-in;
}
